.signup-wrapper {
  width: 350px;
  min-height: 400px;
  background-color: white;
  border-radius: 32px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-name {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  font-size: 20px;
  font-weight: 400;
  color: #979797;
  border-bottom: 2px solid #979797;
  padding: 5px;
}

.tab-name:hover {
  color: #c60f0f;
  border-bottom: 2px solid #c60f0f;
}

.active-tab {
  color: #000000 !important;
  border-bottom: 2px solid #000000 !important;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-input {
  outline: none;
  width: 100%;
  font-size: 18px;
  display: block;
  border: none;
  border-bottom: 1.5px solid #979797;
  padding: 10px 0;
}

.reset-pass-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.reset-pass-btn {
  color: #c60f0f;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.reset-pass-btn:hover {
  color: #711d1d;
}

.submit-btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: 16px 0;
  color: white;
  background-color: #c60f0f;
  border-radius: 8px;
}

.terms {
  font-size: 12px;
  font-weight: 400;
}

.terms-link {
  color: #c60f0f;
}

.already-signed {
  cursor: pointer;
  color: #c60f0f;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.already-signed:hover {
  color: #711d1d;
}
