.scroll-to-top-wrapper {
  position: fixed;
  bottom: 300px;
  right: 40px;
  cursor: pointer;
}

.scroll-to-top-tooltip {
  position: absolute;
  margin-top: -60px;
  margin-left: -35px;
  text-align: center;
  display: none;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #711d1d;
  color: white;
  font-size: 16px;
}

.scroll-to-top-wrapper-hide {
  display: none;
}

.scroll-to-top-wrapper:hover .scroll-to-top-tooltip {
  display: flex;
}

.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 2px solid #711d1d;
}

.scroll-to-top:hover {
  border: 2px solid #c60f0f;
}

.fa-chevron-up {
  color: #711d1d !important;
}
