.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
}

.btn:hover .fa-solid {
  color: #c60f0f !important;
}

.btn:hover .fa-regular {
  color: #c60f0f !important;
}

.btn:disabled .fa-solid {
  color: #c9c9c9 !important;
  cursor: not-allowed;
}

.btn:disabled .fa-regular {
  color: #c9c9c9 !important;
  cursor: not-allowed;
}

.fa-solid {
  font-size: 20px;
}

.fa-regular {
  font-size: 20px;
}
