.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  transition: margin-left 0.5s;
  margin-left: -335px;
  background: #f2f1f1;
  border-bottom-right-radius: 32px;
  box-sizing: border-box;
}

.hamburger-menu-open {
  margin-left: 0;
  transition: margin-left 0.5s;
}

.hamburger-menu-close-btn {
  position: absolute;
  right: -45px;
  top: 20px;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1px 0;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #711d1d;
  font-size: 16px;
  border: 2px solid #f2f1f1;
  box-sizing: border-box;
  border-radius: 8px;
}

.link-btn {
  background-color: #f2f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.link:hover {
  background-color: #711d1d;
  color: #f2f1f1;
}

.link-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hamburger-active-link {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #711d1d;
}

.link:hover .hamburger-active-link {
  background-color: white;
}

.hamburger-socials {
  border-top: 2px solid #711d1d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
