.hamburger-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hamburger-wrapper {
}

.hamburger-menu {
  transition: margin-left 0.5s;
  margin-left: -335px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f2f1f1;
  left: 0;
  top: 0;
  border-bottom-right-radius: 32px;
}

.hamburger-open {
  margin-left: 0;
  transition: margin-left 0.5s;
}

.hamburger-close {
  padding: 5px 5px 0 0;
  position: absolute;
  right: -45px;
  top: 20px;
}

.hamburger-link-icon-wrapper {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1px 0;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #711d1d;
  font-size: 16px;
  border: 2px solid #f2f1f1;
}

.link-btn {
  background-color: #f2f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.link:hover {
  background-color: #711d1d;
  color: #f2f1f1;
}

.hamburger-active-link {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #711d1d;
}

.border-line {
  margin: 0 20px 0 10px;
  width: 85%;
  height: 2px;
  border-radius: 2px;
  background-color: #711d1d;
}

.hamburger-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links-label {
  margin: 0 20px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #711d1d;
}

.hamburger-social-brand {
  color: #711d1d !important;
}
