.cart-close-btn {
  padding: 5px 5px 0 0;
  position: absolute;
  left: -45px;
  top: 20px;
}

.cart-button-content-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 24px;
  color: #711d1d;
  padding: 20px;
}

.cart-btn-total-price-wrapper {
  font-size: 24px;
  font-weight: bold;
  color: #711d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cart-btn-total-price {
  font-weight: bold;
  font-size: 24px;
  color: #711d1d;
}
.cart-btn-to-checkout-btn {
  font-size: 18px;
  color: white;
  font-weight: bold;
  background: #c60f0f;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.cart-btn-to-checkout-btn:hover {
  background: #711d1d;
}

.cart-btn-to-checkout-btn:hover .fa-solid {
  color: white !important;
}
