.personal-data-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  width: 100%;
}

.personal-data-form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-data-input-wrapper {
  width: 48%;
}

.account-input-label {
  width: 100%;
  cursor: text;
  color: #711d1d;
  font-size: 14px;
}

.account-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
}
