.product-wrapper {
  background-color: transparent;
  padding: 20px 120px;
}

.product-image-details-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product-image-wrapper {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  height: 300px;
}

.product-details-wrapper {
  padding: 20px;
  width: 47%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  min-height: 260px;
}

.product-name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  color: #711d1d;
}

.stars-rate-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color: #eee;
}

.active-star {
  color: #711d1d;
}

.product-seller {
  display: flex;
}

.seller-label {
  padding-right: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #711d1d;
}

.seller-name-btn {
  font-size: 16px;
  color: #711d1d;
  font-weight: bold;
}

.seller-name-btn:hover {
  color: #c60f0f;
}

.seller-name-btn .fa-solid {
  font-size: 16px;
}

.product-details {
  width: 100%;
}

.details-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  color: #711d1d;
}

.more-text {
  cursor: pointer;
  color: #711d1d;
}

.more-text:hover {
  color: #c60f0f;
}

.details-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.opened-details {
  overflow: initial;
  display: block;
}

.product-buy-btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-price-buy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
  color: #711d1d;
}

.product-buy-btn {
  padding: 3px 0 3px 5px;
  color: #711d1d;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
}

.product-buy-btn:hover {
  color: #c60f0f;
}

.product-buy-btn .i {
  color: white;
}

.feedback-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.feedback-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-size: 24px;
  color: #711d1d;
  font-weight: bold;
}

.feedback {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.feedback-details {
  width: 92%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.feedback-user-avatar-wrapper {
  width: 8%;
}

.feedback-user-avatar {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 2px solid #711d1d;
}

.feedback-user {
  font-size: 16px;
  font-weight: bold;
  color: #711d1d;
}

.feedback-text {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.no-feedback {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #711d1d;
  background-color: white;
  width: 100%;
  height: 100px;
}

.mini-left-feedback-btn {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  color: #711d1d;
  font-weight: bold;
  border: 2px solid #711d1d;
}

.mini-left-feedback-btn i {
  color: #711d1d !important;
}

.mini-left-feedback-btn:hover {
  color: white;
  background-color: #711d1d;
}

.mini-left-feedback-btn:hover .fa-solid {
  color: white !important;
}

.left-feedback-btn {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: #711d1d;
}

.left-feedback-btn:hover .fa-solid {
  color: white !important;
}

.left-feedback-btn:hover {
  background-color: #c60f0f;
}

.user-feedback-wrapper {
  background-color: #711d1d;
}

.user-feedback-user-avatar {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  color: white;
}

.user-feedback-user {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.user-feedback {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #711d1d;
  outline: none;
  resize: none;
  padding: 10px;
}

.user-feedback:hover {
  border: 1px solid #c60f0f;
}

.feedback-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-feedback-btn {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  width: 48%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: #711d1d;
  border: 1px solid white;
}

.send-feedback-btn:hover .fa-solid {
  color: #c60f0f !important;
}

.send-feedback-btn:hover {
  color: #c60f0f;
  border: 1px solid #c60f0f;
}
