.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon {
  margin-left: 10px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.search-input {
  height: 40px;
  width: 244px;
  box-sizing: border-box;
  padding-left: 33px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}

.search-btn {
  width: 80px;
  height: 40px;
  font-size: 16px;
  border-radius: 0 8px 8px 0;
  color: white;
  border: 2px solid white;
}

.search-btn:hover {
  background-color: #c60f0f;
}

input[type="search"]::-webkit-search-cancel-button {
  filter: invert(9%) sepia(92%) saturate(7499%) hue-rotate(2deg) brightness(89%)
    contrast(88%);
}
