.header-wrapper {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #711d1d;
  padding: 10px 120px;
}

.header-side-part {
  display: flex;
  align-items: center;
}

.logo-btn {
  cursor: pointer;
  border: none;
  outline: none;
  height: 40px;
  width: 50px;
  background: transparent;
  background-image: url("../../assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-btn:hover {
  background-image: url("../../assets/images/logo-red.png");
}
