.header-wrapper {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #711d1d;
  padding: 10px 120px;
}

.menu-catalog {
  display: flex;
  align-items: center;
}

.settings-bar {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}
