.socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socials-btn {
  padding: 15px 15px;
  border: none;
  background: none;
}

.fa-brands {
  cursor: pointer;
  color: #c60f0f;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  height: 40px;
}

.fa-brands:hover {
  color: #711d1d;
}

.fa-apple {
  font-size: 40px;
}
