.price-input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid #711d1d;
  border-radius: 8px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: transparent;
}

.input-error {
  border-color: #c60f0f;
}

.input-error .price-input-label {
  color: #c60f0f;
}

.price-input-label {
  width: 100%;
  cursor: text;
  color: #711d1d;
  font-size: 14px;
}

.price-input {
  background: transparent;
  width: 90%;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
}

.price-input-wrapper:focus-within {
  box-shadow: rgba(198, 157, 165, 0.81) 0 8px 15px;

  .price-input-label {
    color: #c60f0f;
  }
}

.price-input-wrapper:hover {
  box-shadow: rgba(198, 157, 165, 0.81) 0 8px 15px;
  .price-input-label {
    color: #c60f0f;
  }
}

.currency {
  font-size: 16px;
  color: #711d1d;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 50%;
}
