.account-wrapper {
  padding: 20px 120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f2f1f1;
}

.account-menu {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.account-menu-button {
  margin: 2px;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  color: #711d1d;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid transparent;
}

.account-menu-button:hover {
  border: 2px solid #711d1d;
}

.account-menu-active-button {
  margin: 2px;
  background-color: #711d1d;
  border: 2px solid transparent;
  color: white;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
}

.account-menu-icon-wrapper {
  width: 20px;
  height: 20px;
}

.account-menu-tab-name {
  font-size: 16px;
  font-weight: 500;
}

.account-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

