.account-wrapper {
  padding: 20px 120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f2f1f1;
}

.account-menu {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.account-menu-button {
  margin: 2px;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  color: #711d1d;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid transparent;
}

.account-menu-button:hover {
  border: 2px solid #711d1d;
}

.account-menu-active-button {
  margin: 2px;
  background-color: #711d1d;
  border: 2px solid transparent;
  color: white;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
}

.account-menu-icon-wrapper {
  width: 20px;
  height: 20px;
}

.account-menu-tab-name {
  font-size: 16px;
  font-weight: 500;
}

.account-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.personal-data-wrapper {
  margin-left: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.personal-data-avatar-wrapper {
  width: 30%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #711d1d;
}

.personal-data-inputs-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.personal-data-save-btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.personal-data-save-btn {
  min-width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #c60f0f;
  color: white;
  min-height: 35px;
}

.personal-data-save-btn:hover {
  background-color: #711d1d;
}

.user-products-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-no-products-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.user-no-products-title {
  font-size: 18px;
  color: #711d1d;
  font-weight: bold;
  margin: 0;
}

.user-add-products-btn {
  min-width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #c60f0f;
  color: white;
  min-height: 35px;
}

.personal-data-save-btn:hover {
  background-color: #711d1d;
}

.user-products {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-product-wrapper {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 10px 20px 10px;
  width: 200px;
}

.user-product-wrapper:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.user-product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.user-product-title {
  text-align: center;
  font-size: 20px;
  color: black;
  cursor: default;
}

.user-product-price-buy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-product-price {
  font-size: 16px;
  font-weight: bold;
  color: #711d1d;
  cursor: default;
}

.user-product-btns {
  display: flex;
}

.user-product-edit-btn {
  color: #711d1d;
  font-size: 16px;
  right: 40px;
  top: 10px;
}

.user-product-delete-btn {
  color: #711d1d;
  font-size: 16px;
  right: 10px;
  top: 10px;
}

.product-stat-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.product-stat {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: dotted 1px;
}

.product-stat-title {
  font-weight: 400;
  cursor: default;
}

.product-stat-value {
  color: #711d1d;
  font-weight: bold;
  text-align: right;
  cursor: default;
}

.product-stat-category:hover {
  color: #c60f0f;
  cursor: pointer;
}

.orders-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.no-orders-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.no-orders-title {
  font-size: 18px;
  color: #711d1d;
  font-weight: bold;
  margin: 0;
}

.orders {
  width: 100%;
}

.order-wrapper {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  min-height: 20px;
}

.order-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.order-value {
  font-size: 16px;
  color: #711d1d;
  font-weight: bold;
}

.order-details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #711d1d;
  font-weight: bold;
  font-size: 16px;
}

.order-details-btn:hover {
  color: #c60f0f;
}

.order-details-btn .fa-solid {
  color: #711d1d !important;
  font-size: 16px;
}

.order-products {
}

.order-product-wrapper {
  display: flex;
}

.order-details-btn {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid;
  padding: 5px 10px;
  border-radius: 8px;
}

.problem-btn {
  background-color: #c60f0f;
  border: none;
  color: white;
}
.problem-btn:hover {
  color: white;
  background-color: #711d1d;
}

.problem-btn .fa-solid {
  color: white !important;
}
.problem-btn:hover .fa-solid {
  color: white !important;
}

.buy-again-btn {
  background-color: #7bb424;
  border: none;
  color: white;
}
.buy-again-btn:hover {
  color: white;
  background-color: #436215;
}

.buy-again-btn .fa-solid {
  color: white !important;
}
.buy-again-btn:hover .fa-solid {
  color: white !important;
}

.comment-btn {
  background-color: cornflowerblue;
  border: none;
  color: white;
}
.comment-btn:hover {
  color: white;
  background-color: #2c57a4;
}

.comment-btn .fa-solid {
  color: white !important;
}
.comment-btn:hover .fa-solid {
  color: white !important;
}

.favourites-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.favourites {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.no-favourites-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.no-favourites-title {
  font-size: 18px;
  color: #711d1d;
  font-weight: bold;
  margin: 0;
}

.favourite-stars-rate-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
