.tooltip-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
}

.tooltip {
  z-index: 1;
  width: inherit;
  bottom: 55px;
  right: 0;
  position: absolute;
  background: #711d1d;
  color: white;
  visibility: hidden;
  padding: 5px 10px;
  border-radius: 8px;
}
